<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Questioner</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
      <div class="wrap">
        <nav class="top-menu">
            <div class="container">
                <div id="logo"> <a href="index.html">Questioner</a></div>
                <div class="search-bar">
                    <input type="texy" placeholder="Search meetups">
                </div>
                <div id="auth-btns">
                    <a href="userRegister.html"> <button>Signup</button> </a>
                    <a href="userLogin.html"> <button>Login</button> </a>
                </div>
            </div>
        </nav>
        <header>
            <div class="header-content">
                <div class="promo">
                    <span class="header-title">What are your interests?</span>
                    <p>Questioner is a platform that allows users to keep up to date with meetups of their favourite interests
                        and even post questions that will be addressed in the meetup.
                    </p>
                    <button>Sign up</button>
                </div>
            </div>
        </header>
        <div class="content landing-content">
            <div class="tags">
                <div class="tags-container">
                    <h3>Tags</h3>
                    <ul>
                        <li>Arts</li>
                        <li>Design</li>
                        <li>Tech</li>
                        <li>Photography</li>
                        <li>Music</li>
                        <li>Outdoor</li>
                        <li>Book Clubs</li>
                        <li>Fitness</li>
                        <li>Food &amp; Drinks</li>
                    </ul>
                </div>
            </div>
            
            <div class="meetups">
                <h3>Upcoming Meetups</h3>
                <div class="meetups-container">
                    <div class="meetup">
                            <img src="../static/img/uploads/art-exhibition.jpg" alt="meetup-image">
                            <div class="details">
                                <h3>Lets see the art exhibition</h3>
                                <span>Date: 19th Jan 2019</span>
                                <span>Location: National museum</span>
                            </div>
                        </div>
                        <div class="meetup">
                            <img src="../static/img/uploads/art-exhibition.jpg" alt="meetup-image">
                            
                            <div class="details">
                                <h3>Lets see the art exhibition</h3>
                                <span>Date: 19th Jan 2019</span>
                                <span>Location: National museum</span>
                            </div>
                        </div>
                        <div class="meetup">
                            <img src="../static/img/uploads/art-exhibition.jpg" alt="meetup-image">
                            <div class="details">
                                <h3>Lets see the art exhibition</h3>
                                <span>Date: 19th Jan 2019</span>
                                <span>Location: National museum</span>
                            </div>
                        </div>
                        <div class="meetup">
                            <img src="../static/img/uploads/art-exhibition.jpg" alt="meetup-image">
                            <div class="details">
                                <h3>Lets see the art exhibition</h3>
                                <span>Date: 19th Jan 2019</span>
                                <span>Location: National museum</span>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <p>Website designed and developed by <span>Luqee Creations</span>.</p>
            </div>
        </footer>
      </div>
      <script src="../static/js/index.js"></script>
    </body>
</html>