<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Questioner</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    </head>
    <body>
      <div class="wrap">
        <nav class="top-menu">
            <div class="container">
                <div id="logo"> <a href="index.html">Questioner</a></div>
                <div class="search-bar">
                    <input type="texy" placeholder="Search meetups">
                </div>
                <div id="auth-btns">
                    <a href="userRegister.html"> <button>Signup</button> </a>
                    <a href="userLogin.html"> <button>Login</button> </a>
                </div>
            </div>
        </nav>
        <div class="profile-header">
            <div class="container">
                <div class="info">
                    <span class="pic fas fa fa-user-circle fa-5x"></span>
                    <div class="details">
                        <div class="username">User name: Luke Nzangu</div>
                        <div class="intro">Intro: Something interesting about me is that I am me.</div>
                        <span>(5) Questions posted.</span>
                        <span>(16) Questions commented on.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content landing-content">
            <div class="tags">
                <div class="tags-container">
                    <h3>Tags</h3>
                    <ul>
                        <li>Arts</li>
                        <li>Design</li>
                        <li>Tech</li>
                        <li>Photography</li>
                        <li>Music</li>
                        <li>Outdoor</li>
                        <li>Book Clubs</li>
                        <li>Fitness</li>
                        <li>Food &amp; Drinks</li>
                    </ul>
                </div>
            </div>
            
            <div class="question-feed">
                <h3>Questions Feed</h3>
                <div class="questions-container">
                    <div class="question">
                        <div class="header">
                            <span class="name fas fa fa-user"> Luke Nzang'u</span> 
                            <span class="time fas fa fa-clock"> 15 mins ago</span>
                        </div>
                        <div class="text">
                            <p>Non reprehenderit ipsum ullamco magna non. Dolore aliqua tempor laboris voluptate occaecat id duis. Cupidatat reprehenderit non voluptate veniam tempor Lorem commodo?</p>
                        </div>
                        <div class="vote">
                            Asked in: <span class="meetup-title"><a href="meetupDetails.html">Lets see the art exhibition</a></span>
                            <span class="fas fa fa-thumbs-up"> Upvote (12)</span>
                            <span class="fas fa fa-thumbs-down"> Downvote (4)</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <p>Website designed and developed by <span>Luqee Creations</span>.</p>
            </div>
        </footer>
      </div>
      <script src="../static/js/index.js"></script>
    </body>
</html>