*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    background-color: #ffffff;
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    margin: 0;
    height: inherit;
}
.wrap{
    height: inherit;;
    display: flex;
    flex-direction: column;
}
.wrap div.content{
    flex:1 0 auto;
}
.wrap footer{
    flex-shrink: 0;
    /* margin/ */
}
/* top navigation menu */
nav.top-menu {
    width: 100%;
    background-color: #fafafb;
    height: 50px;
}
nav.top-menu .container{
    display: flex;
    margin: 0 50px;
    height: inherit;
    align-items: center;
}
nav.top-menu div#logo a{
    text-decoration: none;
}
nav.top-menu div.search-bar{
    margin-left: auto;
}
nav.top-menu div#auth-btns {
    margin-left: auto;
}
nav.top-menu div#auth-btns button{
    background-color: #0095ff;
    border: 0;
    padding: 5px;
    color: #ffffff;
}
nav.top-menu div#auth-btns button:hover{
    cursor: pointer;   
}
nav.top-menu div#auth-btns a{
    text-decoration: none;
}
/* Header component styles */
header{
    height: 300px;
    background-color: #0095ff;
}
header .header-content{
    height: inherit;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}
header div.promo{
    color: #ffffff;
    text-align: center;
}
header div.promo .header-title{
    font-size: 2rem;
}
button{
    background-color: #0095ff;
    border: 0;
    padding: 5px;
    color: #ffffff;
}
button:hover{
    cursor: pointer;
}
/* Landing page content area */
.landing-content{
    display: flex;
    margin: 0 50px;
    padding-top: 20px;
}

.landing-content .tags{
    flex-basis: 20%;
}
.landing-content .tags .tags-container{
    display: flex;
    flex-direction: column;
}
.landing-content .tags h3{
    margin: 0 auto;
}
.landing-content .tags ul{
    list-style-type: none;
}
.landing-content .tags ul li{
    border-bottom: 1px solid #0095ff;
}
.landing-content .meetups{
    flex-basis: 80%;
    padding-left: 15px;
}
.landing-content .meetups .meetups-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.landing-content .meetups .meetup{
    flex-basis: 33%;
    margin-bottom: 5px;
    border: 1px solid #0095ff;
}
.landing-content .meetups .meetup img{
    width: 100%;
    height: 150px;
}
.landing-content .meetups .meetup .details{
    padding-left: 5px;
}
/* Footer area */
footer{
    background-color: #0095ff;
    height: 100px;
}

.footer-content{
    height: inherit;
    display: flex;
    align-items: center;
}
.footer-content p{
    margin: 0 auto;
}
/*  */
.user-register-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-register-content .form-container{
    border: 1px solid #0095ff;
    padding: 10px;
    border-radius: 5px;
}
.user-register-content form .form-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.user-register-content form input{
    padding: 5px;
}
.user-register-content a{
    text-decoration: none;
}